@use "../presets" as *;
@use "../mixins" as *;

.partners {
  margin-bottom: 40px;

  &__title {
    display: flex;
    justify-content: center;
    font-size: 14px;
    line-height: 1.21;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $color-primary;
    padding-bottom: 30px;
  }

  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
  }

  &__image {
    height: 100%;
  }
}
