@use "../presets" as *;
@use "../mixins" as *;


.partners {

  &__container {
    @extend %container-xl;
  }

  &__title {
    display: flex;
    justify-content: center;

    padding-bottom: 30px;

    letter-spacing: 1px;
    text-transform: uppercase;

    color: $color-primary;

    font-size: 14px;
    line-height: 1.21;
  }

  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    list-style: none;
  }

  &__image {
    height: 100%;

    @include ul-min {
      width: 360px;
    }

    @include xs {
      width: 187px;
    }
  }
}
