@use "../presets" as *;
@use "../mixins" as *;

.publications {
  background-color: $color-gray-bg;
  padding-top: 40px;
  margin-bottom: 20px;
  position: relative;
  border-bottom: 4px solid $color-gray-separator;

  &::after {
    content: "";

    background: linear-gradient(180deg, rgba(245, 245, 250, 0) 0%, #F5F5FA 86.5%);

    @include abs-position(calc(100% - 200px));
  }

  &__container {
    @extend %container;
  }

  &__page-link {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.21;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $color-active;


    &::after {
      display: inline-block;

      width: 12px;
      height: 12px;

      content: "";
      transform: translate(2px, 1px);

      background-image: url(../img/bluelink.svg);
      background-repeat: no-repeat;
    }

    cursor: pointer;
    transition: 0.5s ease-in-out;
    transform: rotate(0deg);
  }

  &__title {
    font-weight: 700;
    font-size: 42px;
    line-height: $line-height;
    margin-bottom: 40px;

    @extend %text-liner-gradient-invert;
  }

  &__card {
    gap: $gap-xl;
    column-count: 3;
  }

  &__action {
    position: relative;
    display: flex;
    justify-content: center;
  }

  &__button {
    background-color: $color-active;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.21;
    text-align: center;
    color: $color-white;
    min-width: 250px;
    min-height: 50px;
    border-radius: 12px;
    box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
    border: none;
    cursor: pointer;

    position: absolute;
    bottom: 65px;
    z-index: 2;

  }
}
