@use "../presets" as *;
@use "../mixins" as *;

.publications {
  position: relative;

  padding-top: 40px;

  border-bottom: 4px solid $color-gray-separator;
  background-color: $color-gray-bg;

  &::after {
    content: "";

    background: linear-gradient(180deg, rgba(245, 245, 250, 0) 0%, #f5f5fa 86.5%);

    @include abs-position(calc(100% - 200px));
    @include lg {
      display: none;
    }
  }

  &__container {
    @extend %container;
  }

  &__page-link {
    cursor: pointer;
    transition: 0.5s ease-in-out;
    transform: rotate(0deg);
    letter-spacing: 1px;
    text-transform: uppercase;

    color: $color-active;

    font-size: 14px;
    font-weight: 700;
    line-height: 1.21;


    &::after {
      display: inline-block;

      width: 12px;
      height: 12px;

      content: "";
      transform: translate(2px, 1px);

      background-image: url(../img/bluelink.svg);
      background-repeat: no-repeat;
    }
  }

  &__title {
    margin-bottom: 40px;

    font-size: 42px;
    font-weight: 700;
    line-height: $line-height;

    @extend %text-liner-gradient-invert;
    @include lg {
      font-size: 32px;
    }
  }

  &__card {
    column-count: 3;
    gap: $gap-xl;
    @include ul-lg {
      column-count: 2;
    }
    @include lg {
      column-count: 1;
    }
  }

  &__action {
    position: relative;

    display: flex;
    justify-content: center;
  }

  &__button {
    position: absolute;
    z-index: 2;
    bottom: 65px;

    min-width: 250px;
    min-height: 50px;

    cursor: pointer;
    text-align: center;

    color: $color-white;
    border: none;
    border-radius: 12px;
    background-color: $color-active;
    box-shadow: 0 0 20px rgba(36, 163, 255, 0.5);

    font-size: 14px;
    font-weight: 700;
    line-height: 1.21;

    @include lg {
      position: static;
      z-index: 0;
      bottom: 0;

      margin-bottom: 40px;
    }
  }
}
