@use "../presets" as *;
@use "../mixins" as *;

.publication-item {
  margin-bottom: 40px;

  background-color: $color-white;

  break-inside: avoid-column;


  &__title {
    padding: 20px 20px 10px 20px;

    font-size: 18px;
    font-weight: 400;
    line-height: 1.16;
  }

  &__date {
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;

    letter-spacing: 1px;
    text-transform: uppercase;

    color: $color-gray-text;
    border-bottom: 4px solid $color-gray-separator;

    font-size: 12px;
    font-weight: 700;
    line-height: 1.16;
  }

  &__description {
    padding: 20px;

    font-size: 16px;
    font-weight: 400;
    line-height: 1.38;

    @include lg {
      display: none;
    }
  }

  &__picture {
    display: flex;
    justify-content: center;
  }

  &__image {
    width: 414px;
    height: 233px;

    @include xs {
      width: 335px;
      height: 188px;
    }
  }
}
