@use "../presets" as *;
@use "../mixins" as *;

.logo {
  &__slash {
    @include sm {
      height: 24px;
    }
  }

  &__symbol {
    @include sm {
      height: 24px;
    }
  }
  &__image {
    @include sm {
      width: 77px;
    }
  }
  &__link {
    color: $color-primary;

    font-size: 38px;
    font-weight: 400;
    line-height: $line-height;

    @include sm {
      font-size: 19px;
    }
  }
}
