@use "../presets" as *;
@use "../mixins" as *;

.members {
  margin-top: 75px;
  margin-bottom: 60px;

  &__container {
      @extend %container;
  }

  &__title {
    font-weight: 700;
    font-size: 42px;
    line-height: $line-height;
    padding-bottom: 80px;

    @extend %text-liner-gradient-invert;
    max-width: 850px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
  }

  &__profile {
    display: grid;
    justify-items: start;
    gap: 60px 40px;
    @include xl-min {
      grid-template-columns: repeat(3, 1fr);
    }
    @include xl-md {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
