@use "../presets" as *;
@use "../mixins" as *;

.member-item {
  display: grid;

  cursor: pointer;

  grid-template-areas: "pic pic pic"
  "name name but"
  "pos pos but";
  grid-template-columns: 1fr 1fr auto;
  @include xs {
    grid-template-areas: "pic name"
    "pic pos"
    "pic but";
  }

  &__picture {
    grid-area: pic;
  }

  &__image {
    display: block;

    @include ul-min {
      width: 413px;
      height: 500px;
    }
    @include ul-xs {
      width: 330px;
      height: 400px;
    }
    @include xs {
      width: 150px;
      height: 190px;
    }
  }

  &__name {
    padding-top: 20px;
    padding-bottom: 5px;

    color: $color-primary;

    font-size: 18px;
    line-height: 1.16;

    grid-area: name;

    &:hover {
      padding-bottom: 3px;

      transition: 0.3s linear;

      color: $color-accent;
    }
  }

  &__position {
    color: $color-gray-text;

    font-size: 16px;
    line-height: 1.38;

    grid-area: pos;
  }

  &__button {
    padding-top: 23px;

    grid-area: but;
  }
}
