@use "../presets" as *;
@use "../mixins" as *;


.footer-contacts {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;

  @include lg {
    flex-direction: column;
  }

  &__socials {
    padding-right: 17px;

    @include lg {
      padding-bottom: 20px;
    }
  }

  &__phones-link {
    padding-right: 26px;

    text-align: right;

    color: $color-primary-alt;

    font-size: 16px;
    font-weight: 700;
    line-height: $line-height;
  }

  &__email {
    font-size: 16px;
    font-weight: 700;
    line-height: $line-height;

    @include lg {
      padding-top: 20px;
    }
  }
}
